{% include "base.html" %}

{% include "nav.html" %}


<script type="text/javascript">
$(document).ready(function() {
 $("#webForm").keypress(function(e){﻿
  if (e.keyCode == 13) { // 엔터키 누르면
             // 실행할 작업
        }
</script>



<div class="container">
    <div class = "row">
        <div class="span1"></div>
        <div class="span8">
          <div class="text-box prl">

              <div class="row">
                  <div class="span8">
                    <h3 class="panel-title">RaspberryPi Server</h3>
                        <!-- <img src="{{ STATIC_URL }}img/rasp.jpg" width="40%" height="40%" align="left"> -->
<pre>이 홈페이지는  <strong>RaspberryPi 보드</strong>에서  운영 되고 있습니다.
웹서버로는<strong> Nginx + Django + uWSGI </strong>로 설치 됐으며,
이 장난감을 통해 정리할 내용을 이페이지에  정리 하고자 합니다.
</pre>
                    </div>
              </div>
    <hr size="1px" width="90%" align=center>

{% for post in all_post %}
               <div class="row">
                   <div class="span8">
                       <h3 class="panel-title">{{ post.dsubject }}</h3>
                   <pre>
 {{ post.contents }}
                   </pre>
                       <br>
                       {{ post.writer }}
                   </div>
                   {{ post.full_name|upper }}
                   <hr size="1px" width="90%" align=center>
               </div>
{% endfor %}




<div class="pagination">
    <span class="step-links">
        {% if all_post.has_previous %}
            <a href="?page={{ all_post.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ all_post.number }} of {{ all_post.paginator.num_pages }}.
        </span>

        {% if all_post.has_next %}
            <a href="?page={{ all_post.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>




              <div class="row">
                  <div class="span8">
                  <form action="/submit/" method="post"> {% csrf_token %}

                        <input type="text" value="" placeholder="제목" max-length=200 style="width:500px;" name="subject" />
                  <br>

                       <!--  <input type="textarea" value="" placeholder="본문" max-length=200 style="width:500px;height:200px;" name="content" />  -->
                      <textarea placeholder="글쓰기" name="content" style="width:500px;"></textarea>
                  <br>
                        <input type="text" value="" placeholder="작성자" max-length=10 style="width:100px;" name="writer"/>
                        <input type="submit" class="btn btn-block btn-primary" style="width:100px;" value="submit" >
                 </form>
                 </div>
              </div>


          </div>
        </div> <!-- /text box -->

        <div class="span3">
           list
        </div> <!--  list -->

    </div>
</div>