{% include "base.html" %}

{% include "nav.html" %}


<div class="container">
    <div class = "row">
        <div class="span1">
            &nbsp;
        </div>
        <div class="span5">
            &nbsp;&nbsp;

               <h2>내 정보</h2>
            <br>
            <img src="{{ STATIC_URL }}img/guitar2.jpg" width="600" height="400" align="left">
        </div>

        <div class="span6">
            <br><br><br><br><br>
            <pre ><h4 align="left">
 성별 : 남자

 직업 : 이것 저것 IT 노가다

 최근 관심분야 : Python, 빅데이터 분석

 원래 관심사 : Guitar, 리눅스



            </h4>

            </pre>

        </div>

    </div>
</div>