<div class="container">
<h1 class="logo">  RaspberryPi Server</h1>
<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li ><a href="/">Main</a></li>
                    <li ><a href="#">Python</a>

                        <ul>
                                <li><a href="#">Django</a></li>
                                <li><a href="#">Tornado</a></li>
                                <li><a href="#">ETC.</a></li>
                        </ul> <!-- /Sub menu -->
                    </li>
                    <li ><a href="#">RaspberryPi</a></li>
                    <li ><a href="/myinfo/">Profile</a></li>

                </ul>
            </div>
        </div>

    </div>
</div>
</div>




